<h2 class="title">{{$ctrl.title}}</h2>
<hr>
<table>
    <tr>
        <th>{{$ctrl.headings.id}}</th>
        <th>{{$ctrl.headings.name}}</th>
        <th>{{$ctrl.headings.desc}}</th>
        <th>{{$ctrl.headings.cost}}</th>
        <th>{{$ctrl.headings.price}}</th>
        <th>{{$ctrl.headings.actions}}</th>
    </tr>
    <tr ng-repeat="product in $ctrl.products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.desc}}</td>
        <td>$ {{product.cost}}</td>
        <td>$ {{product.price}}</td>
        <td><button ng-click="$ctrl.delete(product.id)">Delete</button></td>
    </tr>
</table>